<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>google-jwt-vieiwer</title>
    <style>
        .copy-btn:hover {
            color: #007bff;
        }
    </style>
</head>

<body>

    <div class="container-fluid mx-0">
        <h2>Your Google JWT is below</h2>
        <div class="form-group row">
            <textarea id="copy-target" class="border border-info rounded text-secondary form-control-plaintext col-7" type="text"  readonly>{{ .IDToken }}</textarea>
            <button id="copy-input" class="copy-btn bg-white border border-secondary rounded" data-toggle="tooltip">
                Copy
                <i class="fas fa-clipboard"></i>
            </button>
        </div>
        {{ .Payload }}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        //from https://mo22comi.com/2021/01/10/bootstrap-copy-and-tooltip/
        $('#copy-input')
            .tooltip({
                trigger: 'manual'
            })
            .on('shown.bs.tooltip', function () {
                setTimeout((function () {
                    $(this).tooltip('hide');
                }).bind(this), 1500);
            })
            .on('click', function () {
                $('#copy-target').select();
                const copyResult = document.execCommand('copy');
                console.log(copyResult)
                if (copyResult) {
                    $('#copy-input').attr('data-original-title', 'JWT Copy Success');
                } else {
                    $('#copy-input').attr('data-original-title', 'JWT Copy Failed');
                }
                $(this).tooltip('show');
            });
        </script>
    </body>
</html>
